<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045846468722-c70oarmfs59k6opov31hpm9usdrpkos5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045846468722-c70oarmfs59k6opov31hpm9usdrpkos5</string>
	<key>API_KEY</key>
	<string>AIzaSyD5RD5_fyQbBeWFIMNGyT8DeegpWD5SMqk</string>
	<key>GCM_SENDER_ID</key>
	<string>1045846468722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kquesada80309.agapathusproyectov</string>
	<key>PROJECT_ID</key>
	<string>handcradt</string>
	<key>STORAGE_BUCKET</key>
	<string>handcradt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045846468722:ios:e62f9b74d446e86cc97aeb</string>
</dict>
</plist>